.sidebarForm {
    padding: 20px;
    border: 1px solid #BFBFBF;
    margin: 30px 0;
    border-radius: 15px;
    background: #fff;
}

.products.col-8 {
    padding: 0 20px;
    margin: 30px 0;
    border-radius: 15px;
}


.title-filter.d-flex.justify-content-between.mb-2 span {
    color: var(--bs-blue);
    text-transform: uppercase;
    font-size: 18px;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    justify-content: center;
}

.products.col-8 {
    background: none
}

img.card-img-top {
    padding: 10px 20px;
}

.card-title.h5 {
    color: #0d6efd;
}

p.card-text {
    font-size: 10px;
    font-weight: 100;
}

p.price.card-text {
    font-size: 20px;
    font-weight: 900;
}

button.btn.btn-primary {
    background: #ffc107;
    border-color: yellow;
}

.text-center.card {
    border-radius: 17px;
    position: relative;
}